.div{
    text-align: center;
}

body{
    background-color: lightslategray;
}

.center {
    margin: auto;
    width: 50%;
    padding: 30px;
  }
  
  table {
    border-collapse: collapse;
    border-left: 2px solid black;
    border-right: 2px solid black;
  }

  th, td {
    padding: 20px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-left: 1px solid black;
  }

.content{
    max-width: 800px;
    margin: auto;
}

img {
    max-width: 100%;
    height: auto;
  }

a{
  color: black;
}